Source: ucsschool-basis-pilot-ansible
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0

Package: ucsschool-basis-pilot-ansible
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: This package installs the ansible configuration of a automatic ucsschool setup of three central servers 
